@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
  max-width: 500px !important;
  width: 100%;
}

.firebaseui-card-content {
  padding: 0 !important;
}
